<template>
  <div class="bg-gray-400">
    <Header />
    <Nuxt />
    <Footer />
  </div>
</template>

<script>
import Header from '~/components/site/Header.vue';
import Footer from '~/components/site/Footer.vue';

export default {
  components: {
    Header,
    Footer
  }
};
</script>
